.List {
    padding: 5px 0;
    width: 100%;
}

.List .Item {
    width: calc(100%-20px);
    min-height: 80px;
    border-radius: 10px;

    margin: 20px 0;
    padding: 10px;

    color: #000;

    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: "N . DA"
                        "I . DU"
                        "B1 . B2";
}

.List .Item .Text {
    text-align: left;
}

.List .Item .Date {
    text-align: right;
}